@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');

nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}
nav {
  margin-top: 25px;
}
nav ul {
  float: right;
}
nav li {
  float: left;
  padding-right: 2px;
}
aside {
  padding-top: 30px;
  padding-bottom: 60px
}